.contain{
    background-color:  #c8c3cc 
}
.row{
  border: 2px solid black;
}
.signUpForm{
   
    border: 2px solid red;
    background-color: white;
   
    margin-top: 3%;
    margin-bottom: 3%;
    

}
.form-control{
    width: 100%;
}
.main{
    height:auto;
    font-size: 6.85vw;
    color:whitesmoke;
    background-color: #a2836e;
    font-family: 'EB Garamond', serif;
    text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);
    font-style:italic;
    padding-left: 5%;
    padding-right: 5%;
    border: 3px solid  #c83349;
}


