.container{
    height: 100vh;
    background-color: #c8ced3;

}
.navbar{
    color: white;
}
.nav-link{
    color: white;
}

.loginForm{
    border: 3px solid white;
    margin-top: 15%;
    margin-bottom: 10%;
}

